In [1]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense

import pandas as pd

Using TensorFlow backend.

In [24]:
dataset = pd.read_csv('./Data/ace_2000.csv', header= 0)

In [35]:
print(dataset)
dataset

        year  doy  hr  min        Np        Tp       Vp  B_gsm_x  B_gsm_y  \
0       2000    1   0    0     3.274  289000.0   679.28   -5.537    1.169
1       2000    1   0    1     3.424  247000.0   670.87   -6.039    4.627
2       2000    1   0    2     3.334  248000.0   673.69   -5.934    5.432
3       2000    1   0    3     3.518  227000.0   668.05   -5.853    2.867
4       2000    1   0    4     3.375  240000.0   662.88   -6.912    2.393
...      ...  ...  ..  ...       ...       ...      ...      ...      ...
494096  2000  366  23   55 -9999.900  -10000.0   292.25   -3.054    1.098
494097  2000  366  23   56 -9999.900  -10000.0   291.84   -3.001    1.146
494098  2000  366  23   57 -9999.900  -10000.0 -9999.90   -3.030    1.131
494099  2000  366  23   58 -9999.900  -10000.0   292.56   -3.052    1.137
494100  2000  366  23   59 -9999.900  -10000.0 -9999.90   -3.103    1.170

        B_gsm_z     Bt
0         4.127  7.721
1         3.457  8.370
2         2.841  8.561
3         4.605  8.202
4         3.434  8.102
...         ...    ...
494096   -1.165  3.449
494097   -1.108  3.398
494098   -1.104  3.418
494099   -1.116  3.443
494100   -1.159  3.513

[494101 rows x 11 columns]

,year,doy,hr,min,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bt
0,2000,1,0,0,3.274,289000.0,679.28,-5.537,1.169,4.127,7.721
1,2000,1,0,1,3.424,247000.0,670.87,-6.039,4.627,3.457,8.370
2,2000,1,0,2,3.334,248000.0,673.69,-5.934,5.432,2.841,8.561
3,2000,1,0,3,3.518,227000.0,668.05,-5.853,2.867,4.605,8.202
4,2000,1,0,4,3.375,240000.0,662.88,-6.912,2.393,3.434,8.102
...,...,...,...,...,...,...,...,...,...,...,...
494096,2000,366,23,55,-9999.900,-10000.0,292.25,-3.054,1.098,-1.165,3.449
494097,2000,366,23,56,-9999.900,-10000.0,291.84,-3.001,1.146,-1.108,3.398
494098,2000,366,23,57,-9999.900,-10000.0,-9999.90,-3.030,1.131,-1.104,3.418
494099,2000,366,23,58,-9999.900,-10000.0,292.56,-3.052,1.137,-1.116,3.443
494100,2000,366,23,59,-9999.900,-10000.0,-9999.90,-3.103,1.170,-1.159,3.513

In [45]:
for i in range(0,7) :
    num=str(i)
    df=pd.read_csv('./Data/ace_200'+num+'.csv', header=0)
    df.dropna(inplace=True)
    df['year']=df['year'].astype(int)
    df['doy']=df['doy'].astype(int)
    df['hr']=df['hr'].astype(int)
    df['min']=df['min'].astype(int)
    data=pd.merge(dataset, df)

ValueError: You are trying to merge on float64 and object columns. If you wish to proceed you should use pd.concat

In [ ]:
df.dropna(inplace=True)

In [44]:
df

,year,doy,hr,min,Np,Tp,Vp,B_gsm_x,B_gsm_y,B_gsm_z,Bt
1,2001,1,0,0,-9999.900,-10000.0,292.96,-3.022,1.119,-1.193,3.437
2,2001,1,0,1,-9999.900,-10000.0,293.42,-3.071,1.114,-1.187,3.476
3,2001,1,0,2,-9999.900,-10000.0,292.53,-3.068,1.083,-1.187,3.464
4,2001,1,0,3,-9999.900,-10000.0,293.34,-3.081,1.178,-1.13,3.489
5,2001,1,0,4,-9999.900,-10000.0,292.05,-3.032,1.228,-1.087,3.449
...,...,...,...,...,...,...,...,...,...,...,...
492749,2001,365,23,55,3.822,123000.0,454.04,8.461,-1.375,-0.167,8.581
492750,2001,365,23,56,4.370,120000.0,454.49,8.159,-2.601,0.306,8.594
492751,2001,365,23,57,3.764,119000.0,456.25,7.991,-3.05,0.318,8.564
492752,2001,365,23,58,3.825,116000.0,455.99,7.918,-3.007,0.32,8.490
492753,2001,365,23,59,3.884,125000.0,-9999.90,7.965,-3.142,0.474,8.593

In [9]:
for i in dataset:
    print(i)
    print("******************************")

year      : year
******************************

In [10]:
print(type(dataset))

<class 'pandas.core.frame.DataFrame'>

In [16]:
dataset.columns

Index(['year      : year'], dtype='object')

In [17]:
import csv

with open('./Data/ace_2001.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

print(data)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [23]:
data[-1:-3]

[]